{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ title }} | {% endblock %}
{% block description %}{{description}} | {% endblock %}
{% block page_id %}{{page_id}}{% endblock %}
{% block data_page %}{{data_page}}{% endblock %}


{% block content %}
<hgroup class="article-category-hgroup">
  <h2>{{category_title}}</h2>
  <p>
    {{total_posts}} published articles
    &nbsp;&nbsp;<span class="subscribe-btn"><i class="fi-plus"> </i>Subscribe</span>
  </p>
</hgroup>
<div id="latest-2" class="latest-category-posts">
  {% for latest in latest_2 %}
  <article>
    <p class="article-meta-2">Posted on {{latest.published_date}}</p>
    <h3 class="article-title"><a href="{% url 'article:article' latest.slug %}">{{latest.title}}</a></h3>
    <p>{{latest.leadin}}</p>
    <p class="read-more"><a href="{% url 'article:article' latest.slug %}">Read more</a></p>
  </article>
  {% endfor %}
</div>
<div id="more-recent" class="latest-category-posts">
  {% for recent in more_recent %}
  <article>
    <p class="article-meta-2">Posted on {{recent.published_date}}</p>
    <h3 class="article-title"><a href="{% url 'article:article' recent.slug %}">{{recent.title}}</a></h3>
    <p>{{recent.leadin}}</p>
    <p class="read-more"><a href="{% url 'article:article' recent.slug %}">Read more</a></p>
  </article>
  {% endfor %}
</div>
<div class="latest-category-posts">
  {% for other in the_rest %}
  <article>
    <p class="article-meta-2">Posted on {{other.published_date}}</p>
    <h3 class="article-title"><a href="{% url 'article:article' other.slug %}">{{other.title}}</a></h3>
    <p>{{other.leadin}}</p>
    <p class="read-more"><a href="{% url 'article:article' other.slug %}">Read more</a></p>
  </article>
  {% endfor %}
</div>
{% endblock %}