{% extends "base.html" %}

{% block title %}{{ title }} | {% endblock %}
{% block description %}{{description}}{% endblock %}
{% block page_id %}{{page_id}}{% endblock %}
{% block data_page %}{{data_page}}{% endblock %}


{% block content %}
<div class="wrapper">
  <form class="form" method="post">
    {{form.hidden_tag()}}
    <p>{{form.title.label}}<br/>{{form.title}}</p>
    <p>{{form.slug.label}}<br/>{{form.slug}}</p>
    {#<p>{{form.category.label}}<br/>{{form.category}}</p>#}
    <p>{{form.body.label}}<br/>{{form.body}}</p>
    <p>{{form.preview.label}}<br/>{{form.preview}}</p>
    {{form.submit}}
  </form>
</div>
{{ pagedown.include_pagedown() }}
{% endblock %}
