{% extends "base.html" %}

{% block title %}Forms debug | {% endblock %}
{% block description %}Debugging the forms{% endblock %}
{% block page_id %}forms-debug{% endblock %}
{% block data_page %}forms-debug{% endblock %}


{% block content %}
<div class="wrapper">
	<h2>DS Forms</h2>
	{% for message in get_flashed_messages() %}
		<div class="alert">{{message}}</div>
	{% endfor %}
	<p id="debug">
		<ul>
			<li>{% if name %} {{ name }} {% else %} stranger {% endif %}</li>
			<li>{% if email %} {{ email }} {% endif %}</li>
			<li>{% if password %} {{ password }} {% endif %}</li>
			<li>{% if password2 %} {{ password2 }} {% endif %}</li>
			<li>{% if remember_me %} {{ remember_me }} {% endif %}</li>
			<li>{% if username %} {{ username }} {% endif %}</li>
			<li>{% if agree_to_terms %} {{ agree_to_terms }} {% endif %}</li>
			<li>{% if text_body %} {{ text_body }} {% endif %}</li>
			<li>{% if follow_replies %} {{ follow_replies }} {% endif %}</li>
			<li>{% if search_text %} {{ search_text }} {% endif %}</li>
			<li>{% if message %} {{ message }} {% endif %}</li>
			<li>{% if fullname %} {{ fullname }} {% endif %}</li>
			<li>{% if twitter %} {{ twitter }} {% endif %}</li>
			<li>{% if instagram %} {{ instagram }} {% endif %}</li>
			<li>{% if bio %} {{ bio }} {% endif %}</li>
			<li>{% if picture %} {{ picture }} {% endif %}</li>
		</ul>
	</p>
	<hr>
	<ul>

		<li>
			<h3>Name Form</h3>
			<form method="post">
				{{ name_form.hidden_tag() }}
				{{ name_form.name.label }} {{ name_form.name() }} <br/>
				{{ name_form.submit() }}
			</form>
		</li>
		

		<li>
			<h3>Login Form</h3>
			<form method="post">
				{{ login_form.hidden_tag() }}
				{{ login_form.email.label }} {{ login_form.email() }} <br/>
				{{ login_form.password.label }} {{ login_form.password() }} <br/>
				{{ login_form.remember_me() }} <br/>
				{{ login_form.submit() }}
			</form>
		</li>


		<li>
			<h3>Register Form</h3>
			<form method="post">
				{{ register_form.hidden_tag() }}
				{{ register_form.username.label }} {{ register_form.username() }} <br/>
				{{ register_form.email.label }} {{ register_form.email() }} <br/>
				{{ register_form.password.label }} {{ register_form.password() }} <br/>
				{{ register_form.password2.label }} {{ register_form.password2() }} <br/>
				<p>
					{{ register_form.agree_to_terms() }}
					I agree
				</p>
				{{ register_form.submit() }}
			</form>
		</li>


		<li>
			<h3>Change Email Form</h3>
			<form method="post">
				{{ changeemail_form.hidden_tag() }}
				{{ changeemail_form.email.label }} {{ changeemail_form.email() }} <br/>
				{{ changeemail_form.submit() }}
			</form>
		</li>


		<li>
			<h3>Change Password Form</h3>
			<form method="post">
				{{ changepassword_form.hidden_tag() }}
				{{ changepassword_form.current_password.label }} {{ changepassword_form.current_password() }} <br/>
				{{ changepassword_form.new_password.label }} {{ changepassword_form.new_password() }} <br/>
				{{ changepassword_form.new_password2.label }} {{ changepassword_form.new_password2() }} <br/>

			</form>
		</li>


		<li>
			<h3>Reset Password Form</h3>
			<form method="post">
				{{ resetpassword_form.hidden_tag() }}
				{{ resetpassword_form.email.label }} {{ resetpassword_form.email() }} <br/>
				{{ resetpassword_form.submit() }}
			</form>
		</li>


		<li>
			<h3>Comment Form</h3>
			<form method="post">
				{{ comment_form.hidden_tag() }}
				{{ comment_form.body() }} <br/>
				{{ comment_form.follow_replies.label }} {{ comment_form.follow_replies() }} <br/>
				{{ comment_form.submit() }}

			</form>
		</li>


		<li>
			<h3>Follow Form</h3>
			<form method="post">
				{{ follow_form.hidden_tag() }}
				{{ follow_form.submit() }} <br/>
			</form>
		</li>


		<li>
			<h3>Search Form</h3>
			<form method="post">
				{{ search_form.hidden_tag() }}
				{{ search_form.text() }} <br/>
				{{ search_form.submit() }} <br/>
			</form>
		</li>


		<li>
			<h3>Contact Form</h3>
			<form method="post">
				{{ contact_form.hidden_tag() }}
				{{ contact_form.message.label }} {{ contact_form.message() }} <br/>
				{{ contact_form.name.label }} {{ contact_form.name() }} <br/>
				{{ contact_form.email.label }} {{ contact_form.email() }} <br/>
				{{ contact_form.send() }} <br/>
			</form>
		</li>


		<li>
			<h3>Profile Form</h3>
			<form method="post">
				{{ profile_form.hidden_tag() }}
				{{ profile_form.fullname.label }} {{ profile_form.fullname() }} <br/>
				{{ profile_form.twitter.label }} {{ profile_form.twitter() }} <br/>
				{{ profile_form.instagram.label }} {{ profile_form.instagram() }} <br/>
				{{ profile_form.bio.label }} {{ profile_form.bio() }} <br/>
				{{ profile_form.picture.label }} {{ profile_form.picture() }} <br/>
				{{ profile_form.save() }} <br/>
			</form>
		</li>


		<li>
			<h3>Bookmark Form</h3>
			<form method="post">
				{{ bookmark_form.hidden_tag() }}
				{{ bookmark_form.bookmark() }} <br/>

			</form>
		</li>


		<li>
			<h3>Subscribe Form</h3>
			<form method="post">
				{{ subscribe_form.hidden_tag() }}
				{{ subscribe_form.subscribe() }} <br/>

			</form>
		</li>
	</ul>
</div>
{% endblock %}