{% extends "base.html" %}

{% block title %}{{ title }} | {% endblock %}
{% block description %}{{description}}{% endblock %}
{% block page_id %}{{page_id}}{% endblock %}
{% block data_page %}{{data_page}}{% endblock %}
{% block page_class %}{{page_class}}{% endblock %}

{% block content %}
<div class="form-wrapper">
  {% if form.errors %}<p class="error">Sorry, that's not a valid username or password.</p>{% endif %}
  <form action="/test" method="POST" class="form" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <input type="submit" value="Go">
  </form>
</div>
{% endblock %}