.reply-form, #comment-form {
  border-left: 1px solid #e2e2e2;
  padding: 1.25rem;
  padding-right: 0;
}
.reply-form .t7, #comment-form .t7 {
  margin-bottom: 0.25rem;
}
@media only screen and (min-width: 768px) {
  .reply-form .t7, #comment-form .t7 {
    margin-bottom: 1rem;
  }
}
.reply-form .t5, #comment-form .t5 {
  font-size: 0.9rem;
  color: #2f2f2f;
}
.reply-form ul, #comment-form ul {
  list-style-type: none;
  margin: 0;
}
.reply-form li, #comment-form li, .reply-form textarea, #comment-form textarea {
  margin-bottom: 0.75rem;
}
.reply-form textarea, #comment-form textarea, .reply-form input[type="text"], #comment-form input[type="text"] {
  font-size: 14px;
  font-size: 0.875rem;
}
.reply-form textarea, #comment-form textarea {
  width: 100%;
  padding: 6.5px;
  padding: 0.40625rem;
  -webkit-transition: min-height 0.3s ease-out;
  -moz-transition: min-height 0.3s ease-out;
  -o-transition: min-height 0.3s ease-out;
  transition: min-height 0.3s ease-out;
}
.reply-form textarea:focus, #comment-form textarea:focus {
  min-height: 130px;
  min-height: 8.125rem;
}
.reply-form input[type="text"], #comment-form input[type="text"] {
  min-height: 1.875rem;
  width: 100%;
  padding-left: 0.25rem;
  margin-bottom: 0;
}

#comment-form {
  border: none;
  padding: 0;
  margin-bottom: 1.625rem;
}

#comment-follow, .comment-follow {
  font-size: 0.75rem;
}
#comment-follow input, .comment-follow input {
  margin-right: 0.5rem;
}

.submit-comment input, #submit-comment input {
  margin: 0;
}

#submit-comment {
  padding-bottom: 1rem;
  border-bottom: 1px solid #c8c8c8;
}
