{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ title }} | {% endblock %}
{% block description %}{{description}} | {% endblock %}
{% block page_id %}{{page_id}}{% endblock %}
{% block data_page %}{{data_page}}{% endblock %}


{% block content %}
<section id="about-ds">
  <h3 class="t4">About DS</h3>
  <p>This is the obligatory section where I describe myself and why I like to write this blog.</p>
  <p>Well, I started playing soccer as a kid with my older brothers and sisters.  I've been watching live and televised matches for almost as long.  Some of my earliest memories are of attending Rochester Raging Rhinos games with my family in the late 90's when the club had a serious claim at being the best team in America outside of MLS.  I have this foggy memory of being one of the 12,428 fans at Frontier Field see the Rhinos beat Tampa Bay Mutiny and their star Colombian international Carlos Valderrama in 1996.</p>
  <p>I played on my high school's team and I still play in recreation leagues in the summer.  I'm a huge Spurs fan and was drawn to the team after falling in love with Robbie Keane and Paul Robinson from playing a Euro 2004 videogame everyday.  I often obsess about the United States Men's National Teams and daydream about the systems and mechanisms of soccer in America.</p>
  <p>I grew up in Western New York and go to college all the way over in Central New York.  I spent spring semester 2012 in Puebla, Mexico and while suffering with Puebla FC (of the Primera Division) I fell in love with BUAP Lobos (the second division team located at my school.</p>
  <p>I also support New York Red Bulls and Club América, as well as the growth of the game across the United States.</p>
  <p>I write regularly about the Rochester Rhinos on <a href="http://www.thebentmusket.com/authors/brendan-doherty" target="_blank">The Bent Musket</a>, SB Nation's NE Revolution blog, and about Mexican soccer on <a href="http://soccernewsday.com/columnists/112/brendan-doherty" target="_blank">Soccer Newsday</a>. I've also written for <a href="http://thecup.us/author/brendandoherty/" target="_blank">TheCup.us</a>, the site that covers the U.S. Open Cup, and for <a href="http://thehomeofcaribbeanfootball.wordpress.com/">The Home of Caribbean Football</a>.</p>
  <p>I think that's all you need to know, but feel free to ask me questions or comment on anything.  Thanks for reading and if you like a post, please share it with someone.</p>
  <p>My contact email is: dohertysoccer [at] gmail [dot] com</p>
</section>
{% endblock %}