{% extends "base.html" %}

{% block title %}{{ title }} | {% endblock %}
{% block description %}{{description}}{% endblock %}
{% block page_id %}{{page_id}}{% endblock %}
{% block data_page %}{{data_page}}{% endblock %}


{% block content %}
<div class="wrapper">

  <h2>Latest Articles</h2>
  <img src="/static/img/freedom.jpg">

  <h3>Hello {% if current_user.is_authenticated() %}{{ current_user.username }}{% else %}Stranger{% endif %}</h3>
  {% if not known %}
  <p>Nice to meet you</p>
  {% else %}
  <p>Good to see you again</p>
  {% endif %}
  <form method="post">
    {{ form.hidden_tag() }}
    {{ form.name.label }} {{ form.name() }}
    {{ form.submit( )}}
  </form>

  <p>Local date and tie is {{ moment(current_time).format('LLL') }}</p>
  <p>That was {{ moment(current_time).fromNow(refresh=True) }}</p>
</div>
{% endblock %}
