{% extends "base.html" %}

{% block title %}{{ title }} | {% endblock %}
{% block description %}{{description}}{% endblock %}
{% block page_id %}{{page_id}}{% endblock %}
{% block data_page %}{{data_page}}{% endblock %}


{% block content %}
<div id="latest-articles">
  <section id="latest-post">
    <h2 class="t7">Latest Post</h2>
    <article class="article-post">
      <h3 class="article-title"><a href="{% url 'article:article' latest_post.slug %}">{{ latest_post.title }}</a></h3>
      <span class="article-meta">Posted in <a href="{% url 'article:article_category' latest_post.category|slugify %}" class="article-category">{{ latest_post.category }}</a><span class="posted-on">{{ latest_post.published_date|date:"F j, Y" }}</span></span>
      {{ latest_post.preview|safe }}
      <a href="{% url 'article:article' latest_post.slug %}" class="read-article">Continue reading</a>
    </article>
  </section>


  <section id="recent-posts">
    <h2 class="t7">Recent Posts</h2>
    <ul class="recent-articles">
      {% for post in recent_posts %}
      <li>
        <article class="article-preview">
          <h2 class="article-title"><a href="{% url 'article:article' post.slug %}">{{ post.title }}</a></h2>
          <span class="article-meta">Posted in <a href="{% url 'article:article_category' post.category|slugify %}" class="article-category">{{post.category}}</a><span class="posted-on">{{ post.published_date|date:"F j, Y" }}</span></span>
          <p><a href="{% url 'article:article' post.slug %}" class="read-more">Read more</a></p>
        </article>
      </li>
      {% endfor %}
    </ul>
    <a href="{% url 'article:all_articles' %}">View all posts</a>
  </section>
</div>


<div class="wrapper">

  <h2>Latest Articles</h2>
  <img src="/static/img/freedom.jpg">

  <h3>Hello {% if current_user.is_authenticated() %}{{ current_user.username }}{% else %}Stranger{% endif %}</h3>
  {% if not known %}
  <p>Nice to meet you</p>
  {% else %}
  <p>Good to see you again</p>
  {% endif %}
  <form method="post">
    {{ form.hidden_tag() }}
    {{ form.name.label }} {{ form.name() }}
    {{ form.submit( )}}
  </form>

  <p>Local date and tie is {{ moment(current_time).format('LLL') }}</p>
  <p>That was {{ moment(current_time).fromNow(refresh=True) }}</p>
</div>
{% endblock %}
