{% extends "base.html" %}

{% block title %}{{ user.username }} | {% endblock %}
{% block description %}{{ user.username}}'s profile | {% endblock %}
{% block page_id %}profile{% endblock %}

{% block content %}
<section id="user-profile">
  <header id="user-header" class="flex-1">
    <section id="user-overview" class="user-section">
      <div>
        <h2 id="username">{{ user.username }}</h2>
        <figure id="user-profile-image" class="flex-3">
          <img src="{{ user.gravatar(size=256) }}">
        </figure>
        {% if user.fullname %}<p>{{user.fullname}}</p>{%endif%}
        {% if user.twitter %}<p>{{user.twitter}}</p>{%endif%}
        {% if user.instagram %}<p>{{user.instagram}}</p>{%endif%}
    </section>
    <div class="flex">
      <nav id="user-nav" class="flex-2">
        <ul id="user-nav-list">
          <li><a href="#user-bookmarks">Bookmarks</a></li>
          <li><a href="#user-comments">Comments</a></li>
          <li><a href="#user-subscriptions">Subscriptions</a></li>
          <li><a href="#user-settings">Settings</a></li>
        </ul>
        <a id="logout" href="{{ url_for('auth.logout') }}">Log out</a>
      </nav>
    </div>
  </header>
  <div id="user-dashboard" class="flex-3">

    <section id="user-overview" class="user-section">
      <h3 class="t7 flex-1">Overview</h3>
      <div class="flex-4">
        {% if user.location %}<p>From <a href="http://maps.google.com?q={{ user.location }}">{{ user.location }}</a> </p>{% endif %}
        {% if current_user.is_administrator() %}
        <p><a href="mailto:{{user.email}}">{{user.email}}</a></p>
        {% endif %}
        {% if user.bio %}<p>{{user.bio}}</p>{% endif %}
        <p>Last seen: {{user.last_seen}}</p>
      </div>
    </section>

<!--     <section id="user-bookmarks" class="user-section">
      <h3 class="t7 flex-1">Bookmarked</h3>
      <ul id="bookmarked-articles-list" class="flex-4 user-dash-list">
        <li>
          <article class="article-preview">
            <h2 class="article-title"><a href="01-article-page.html">Tottenham Hotspur and US U17 Team Highlight 2013 IMG Invitational Tournament</a></h2><span class="article-meta">Posted in <a href="01-article-category-series.html" class="article-category">Soccer In America</a><span class="posted-on">December 17, 2013</span></span>
          </article>
        </li>
      </ul>
    </section> -->
<!--     <section id="user-comments" class="user-section">
      <h3 class="t7 flex-1">Comments</h3>

      <ul id="user-comment-list" class="flex-4">
        <li>
          <article class="user-comment">
            <h4 class="t6">If she has a car you better ask her if she has ever checked the oil....</h4>
            <p class="comment-meta">Commment on article <a href="#">"Mexico’s Shaky Start in the U-17 World Cup" </a>at October 29, 2013 at 4:04 pm</p>
            <ul class="comment-actions inline">
              <li>+20 [+34/-14]</li>
              <li>Edit</li>
              <li>Delete</li>
            </ul>
          </article>
        </li>
      </ul>
    </section> -->
    <!-- <section id="user-subscriptions" class="user-section">
      <h3 class="t7 flex-1">Subscriptions</h3>
        <ul id="user-subscriptions-list" class="flex-4 user-dash-list">
          <li>
            <h4 class="t6"><a href="#">El Tri</a></h4><span> <b>(2) </b>15 total</span><i class="fi-x"></i>
          </li>
          <li>
            <h4 class="t6"><a href="#">Mexico</a></h4><span> <b>(1) </b>23 total</span><i class="fi-x"></i>
          </li>
        </ul>
    </section> -->
    <section id="user-settings" class="user-section">
      <h3 class="t7 flex-1">Settings</h3>
      <div class="flex-4">
        <form method="post">
          {{ form.hidden_tag() }}
          <ul id="user-settings-list" class="user-dash-list">
            <li>
              <h4 class="t6">{{form.fullname.label}}</h4>
              <div class="setting-option"> {{form.fullname}}</div>
            </li>
            <li>
              <h4 class="t6">{{form.twitter.label}}</h4>
              <div class="setting-option"> {{form.twitter}} </div>
            </li>
            <li>
              <h4 class="t6">{{form.instagram.label}}</h4>
              <div class="setting-option"> {{form.instagram}} </div>
            </li>
            <li>
              <h4 class="t6">{{form.location.label}}</h4>
              <div class="setting-option"> {{form.location}} </div>
            </li>
            <li>
              <h4 class="t6">{{form.bio.label}}</h4>
              <div class="setting-option"> {{form.bio}} </div>
            </li>
            <li>
              <h4 class="t6">Save</h4>
              <div class="setting-option">{{form.save}}</div>
            </li>


            <li>
              <h4 class="t6">Language</h4>
              <div class="setting-option">
                <select>
                  <option value="english" selected="selected">English</option>
                  <option value="español">Español</option>
                </select>
              </div>
            </li>
            <li>
              <h4 class="t6">Font size</h4>
              <div class="setting-option">
                <select>
                  <option value="small">Small</option>
                  <option value="regular" selected="selected">Regular</option>
                  <option value="large">Large</option>
                </select>
              </div>
            </li>
            <li>
              <h4 class="t6">Email frequency</h4>
              <div class="setting-option">
                <select>
                  <option value="as-published" selected="selected">As Published</option>
                  <option value="1-week">1/week</option>
                  <option value="1-month">1/month</option>
                  <option value="no-emails">None</option>
                </select>
              </div>
            </li>
            <li>
              <label>
                <h4 class="t6">Change password</h4>
                <input type="password">
              </label>
            </li>
            <li>
              <label>
                <h4 class="t6">Change email</h4>
                <input type="email">
              </label>
            </li>
            <li>
              <h4 class="t6">Change profile picture</h4>
            </li>
            <li id="beta-test-li">
              <label>
                <h4 class="t6">Beta test</h4>
                <input type="checkbox">
              </label>
              <p>You will see unique article designs and interactions. This is essentially a playground for us to play with editorial design on the web. Have you ever played Portal? Kinda like that but without the risk of death</p>
            </li>
            <li>
              <h4 class="t6">Delete profile</h4>
            </li>
          </ul>
        </form>
        <p id="member-since">Member since {{user.member_since}}</p>
      </div>
    </section>
  </div>
</section>
{% endblock %}
